/* --------------------------------------------------------------------------------------------------- */
/* ----------------------------------------HOME PAGE-------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */

/* --------------------------------- */
/* ---------Image format------------ */
/* --------------------------------- */
.image-container img
{
    width: 100%; 
    height: 700px;
    filter: brightness(80%);
    opacity: 0.85;
}
/* --------------------------------- */
/* ---Message on bottom of screen-=- */
/* --------------------------------- */
.text-overlay
{
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay h2 
{
    font-size: 50px;
    margin-bottom: 10px;
}
.text-overlay p 
{
    font-size: 25px;
    margin: 0;
}
/* --------------------------------- */
/* ---------NavBar Format----------- */
/* --------------------------------- */
.navbar.navbar-light.bg-light 
{
    background-color: rgb(50, 74, 53) !important;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link 
{
    color: white;
}

.navbar-light .navbar-toggler-icon 
{
    background-color: white; 
}
.navbar-light .navbar-toggler 
{
    border-color: white;
}
.navbar 
{
    height: 65px;
}

/* --------------------------------- */
/* ----------Search Bar------------- */
/* --------------------------------- */
.btn-outline-success 
{
    color: white; 
    border-color: white; 
}
.btn-outline-success:hover 
{
    color: white; 
    border-color: white; 
    background-color: rgb(86, 108, 88);
}
/* --------------------------------------------------------------------------------------------------- */
/* ----------------------------------------LOGIN PAGE------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */

/* --------------------------------- */
/* -------------Login--------------- */
/* --------------------------------- */
.login-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.login-form-header
{
    text-align: center;
}
.login-form-body 
{
    margin-top: 20px;
    text-align: center;

}
.login-form-big-text
{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;

}
.login-form-small-text
{
    font-size: 18px;
    margin-top: 0;
    text-align: center;

}
.login-form-button
{
    border-color: black; 

}
.login-form-button:hover
{
    color: black; 
    border-color: black; 
    background-color: rgb(221, 218, 218);
}

/* --------------------------------------------------------------------------------------------------- */
/* ----------------------------------------CART PAGE------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
.cart-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.cart-big-text
{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.cart-body p
{
    text-align: center;
}

/* --------------------------------------------------------------------------------------------------- */
/* ----------------------------------------SHOP PAGE-------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
.shop-page 
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}
.product-card h3
{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}
.product-card p
{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center; 
}

.btn 
{
    color: black;
    background-color: white;
    border-color: black;
}
.btn:hover 
{
    color: black;
    border-color: black;
    background-color: rgb(221, 218, 218);
}