<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}REI{% endblock %}</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css/' %}"/>

  </head>
  <body>
     <!-- Top  Header -->
    <div class="top_menu_bar pt-2 pb-2 bg-color">
      <div class="container">
        <div class="row">
          <div class="row align-items-center justify-content-between">
          <div class="col-lg-8 col-sm-8">
            <div class="top_menu_bar_inner">
              <ul>
                <li><a href="{% url 'home' %}">REI</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of top  Header -->
    <!---Second top menu bar--->
    <div class="second_top_menu_bar pt-2 pb-2 bg-color">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
              <div class="second_top_menu_bar_inner">
                <ul>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Cart</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
              </div>
          </div>
          <!-- Search Bar -->
          <div class="col-lg-4 col-sm-12 text-right">
            <div class="search-container mr-4">
              <input type="text" placeholder="Search..." id="search-input">
              <button type="submit" id="search-button">Search</button>
            </div>
          </div>
          <!-- End of Search Bar -->
        </div>
      </div>
    </div>
    <!---End of second top menu bar--->
    <!-- Content Section -->
    <div class="container">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <!-- End of Content Section -->
    
</html>